<div class="modal-header">
  <h4 class="modal-title">Add User</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <!-- Campos do formulário -->
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Cancel</button>
  <button type="button" class="btn btn-primary">Save</button>
</div>